body{
    margin : 0;
    padding : 0;
    background-color: #14213d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Patrick Hand"
}
.finger-container{
    display: flex;
    flex-direction: column;
}
#finger{
    color: #fca311;
    font-size: 2.5rem;
}
.mini-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#play{
    text-decoration: none;
    color: #fca311;
     text-align: center;
     font-size: 1.5rem;
     display: block;
     margin-top: 50px;
}
svg{
    height: auto;
    width: 50%;
}